@page "/painel/atendentes"
@model Sim.UI.Web.Pages.Triagem.IndexModel

@{
    ViewData["Title"] = "Painel de Informações dos Atendentes";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row center">
    <h6>Disponibilidade de Atendentes por Setor</h6>
    @* <div class="divider"></div> *@
</div>
@foreach (var item in Model.Atendentes!)
{
    @if (item.Value.Any())
    {
        <div class="row">
    <div class="box-column border-a">
        <div class="box-column-row">
            <div class="box-card">
                <div class="card-header grey-text">@item.Key<i class="material-icons left">view_module</i>
                </div>
                <div class="box-around">
                    @foreach (var subitem in item.Value)
                            {
                                @if (subitem.Value.Any())
                                {
                                    <div class="box-cell-item-flex borderless">
                                        <ul class="collection with-header borderless">
                                            <li class="collection-header borderless">
                                                <h6>@subitem.Key</h6>
                                            </li>
                                            @foreach (var u in subitem.Value)
                                            {
                                                @if (u.Value == "Em Atendimento")
                                                {
                                                    <li class="collection-item left-text borderless">
                                                        <div>@u.Key<a class="secondary-content" href="#" title="Em Atendimento"><i
                                                                    class="material-icons orange-text">do_not_disturb_on</i></a></div>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="collection-item left-text borderless">
                                                        <div>@u.Key<a class="secondary-content" href="#" title="Disponível"><i
                                                                    class="material-icons green-text">check_circle</i></a></div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

@section scripts
{
    <script language="javascript">
        setInterval(function () {
            window.location.reload(1);
        }, 30000);
    </script>
}
