@page "/error"
@model ErrorModel
@{
    ViewData["Title"] = "Erro";
}
<div class="mgn-l-10">
    <h5>Erro.</h5>
    <h6 class="text-color-red">Um erro ocorreu durante o processamento do seu pedido.</h6>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
</div>
