@page
@model Sim.UI.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Bem Vindos";
    ViewData["ActivePage"] = Web.Pages.Shared.LayoutNavPages.Inicio;
    ViewData["ActivePageLi"] = Web.Pages.Shared.LayoutNavPages.InicioHome;
}

<div class="card center rounded-4 pdn-10">
    <div class="row mgn-0">
        <div class="col s6 m6 l6 no-padding">
            <img class="right" src="~/css/imgs/sim_logo.png" title="SIM" width="100px">
        </div>
        <div class="col s6 m6 l6 no-padding">
            <strong class="left" style="margin-top: 69px;">IM-CRM</strong>
        </div>
    </div>
</div>
<div class="font-size-12">
    <h5>Notas sobre atualizações</h5>
    <h6>SIM CRM</h6>
    <ul>
        <li>- Versão 1.0</li>
    </ul>

</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Olá! :)</h4>
        <h5>Que 2023 seja como você sempre sonhou: leve, calmo e cheio de alegrias. Feliz Ano Novo!</h5>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var now = new Date();
        var start = new Date(now.getFullYear(), 0, 0);
        var diff = (now - start) + ((start.getTimezoneOffset() - now.getTimezoneOffset()) * 60 * 1000);
        var oneDay = 1000 * 60 * 60 * 24;
        var day = Math.floor(diff / oneDay);
        if (day <= 10)
            alert(`Que ${now.getFullYear()} seja leve, calmo, cheio de alegrias e conquistas.\n\nFeliz Ano Novo!`); //instance.open();
    });
</script>
